<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,600" rel="stylesheet" type="text/css">
        <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
        <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
        
        <title>Investment</title>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-9" >Investment Details
                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>Date</th>
                                <th>RX</th>
                                <th>Type</th>
                                <th>Amount</th>
                                <th>Maturity</th>
                                <th>End Date</th>
                                <th>RoI</th>
                                <th>Months</th>
                                <th>RoI/yr</th>
                                <th></th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr class="invst--table--input" id="invst-0">
                                <td><input style="width: 80px;" type="text" placeholder="Date" value="11-11-2019"></td>
                                <td><input style="width: 140px;" type="text" placeholder="RX" value="Canara"></td>
                                <td><input style="width: 40px;" type="text" placeholder="Type" value="RD"></td>
                                <td><input style="width: 70px;" type="number" placeholder="Amount" value=1000></td>
                                <td><input style="width: 70px;" type="number" placeholder="Maturity" value=1300></td>
                                <td><input style="width: 80px;" type="text" placeholder="End Date" value="12-11-2020"></td>
                                <td><input style="width: 70px; display: none;" type="number" placeholder="RoI"></td>
                                <td><input style="width: 70px; display: none;" type="number" placeholder="Months"></td>
                                <td></td>
                                <td><button class="item__add--btn"><ion-icon name="add-circle-outline"></ion-icon></button></td>
                                
                            </tr> -->
                            
                            
                            <tr class="invst--table--input" id="invst-0">
                                <form action="{% url 'add_investment' %}" method="POST" id="form1">
                                    {% csrf_token %}
                                    <td><input name="date" type="text" placeholder="Date" value="11-11-2019"></td>
                                    <td><input style="width: 140px; text-align: left;" name="rx" type="text" placeholder="RX" value="HDFC"></td>
                                    <td><input style="width: 40px;" name="invst_type" type="text" placeholder="Type" value="FD"></td>
                                    <td><input style="width: 70px;" name="amount" type="number" placeholder="Amount" value=10000></td>
                                    <td><input style="width: 70px;" name="maturity" type="number" placeholder="Maturity" value=13000></td>
                                    <td><input name="end_date" type="text" placeholder="End Date" value="12-11-2020"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </form>
                                <td><button type="submit" form="form1" class="item__add--btn"><img width="25px" height="25px" src="{% static 'img/plus-circle.svg' %}" /></button></td>
                            </tr>
                            
                            {% for i in row %}
                            <tr id="invst-{{ i.id }}">
                                <td>{{ i.date | date:'d-m-Y'}}</td>
                                <td>{{ i.rx }}</td>
                                <td>{{ i.invst_type }}</td>
                                <td >{{ i.amount }}</td>
                                <td >{{ i.mat }}</td>
                                <td>{{ i.end_date | date:'d-m-Y'}}</td>
                                <td >{{ i.roi }}%</td>
                                <td>{{ i.months }}</td>
                                <td >{{ i.roiYear }}%</td>
                                <td>
                                    <button type="click"  class="item__delete--btn"><a href="delete-{{ i.id }}"><img width="25px" height="25px" src="{% static 'img/trash-2.svg' %}" /></a>
                                    </button>
                                </td>
                                
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
                
                <div class="col-3">Sumary
                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th class="total--invst--table--heading">Total Investment</th>
                                <th class="total--invst--table--heading">Total Returns</th>
                                <th class="total--invst--table--heading">Profit Increase</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="total--invst--table--row" id="invst_sum">{{ amount_total }}</td>
                                <td class="total--invst--table--row" id="invst_return">{{ mat_total }}</td>
                                <td class="total--invst--table--row" id="invst_profit">{{ prof }}%</td>
                            </tr>
                            <tr>
                                <td class="total--invst--table--row" id="invst_sum">{{ amount_total }}</td>
                                <td class="total--invst--table--row" id="invst_return">{{ mat_total }}</td>
                                <td class="total--invst--table--row" id="invst_profit">{{ prof }}%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        
            
        
        
            
            
        
        <!-- <script src="{% static 'js/script.js' %}"></script> -->
        <script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule="" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js"></script>
    </body>
</html>
