<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,600" rel="stylesheet" type="text/css">
        <title>Investment</title>
        <link type="text/css" rel="stylesheet" href="{% static 'css/Chart.min.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/Charting_rbt.css' %}">
        
        <style>
            /* body {background-color: #00FFFF;} */
            /* #myChart {height: 400px; width: 400px;} */
        </style>

        
    </head>

    <body>
       <div class='invst_data'>
           {% for i in invst%}
                <ul>
                    <li>{% i.__dict__ %}</li>
                </ul>
           {% endfor %}
       </div>

        
        <script src="{% static 'js/Chart.js' %}"></script>
        <script src="{% static 'js/Chart_rbt.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>